<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="./GCWeb/css/theme.min.css" />
    <noscript
      ><link rel="stylesheet" href="./GCWeb/wet-boew/css/noscript.min.css"
    /></noscript>
    <title>Line 9 Interactive Map Prototype</title>
    {{!-- styles are now in src/main.css --}}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Pipeline Profile Section</h1>
          <p class="small">Updated December 2021</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default" id="map-panel">
            <header class="panel-heading">
              <h5 class="panel-title">Line 9 Interactive Map</h5>
            </header>
            <div class="panel-body" id="map"></div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
