<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="./GCWeb/css/theme.min.css" />
    <noscript
      ><link rel="stylesheet" href="./GCWeb/wet-boew/css/noscript.min.css"
    /></noscript>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.4/dist/esri-leaflet.js"
    integrity="sha512-oUArlxr7VpoY7f/dd3ZdUL7FGOvS79nXVVQhxlg6ij4Fhdc4QID43LUFRs7abwHNJ0EYWijiN5LP2ZRR2PY4hQ=="
    crossorigin=""></script>
    <title>Line 9 Interactive Map Prototype</title>
    <style>
      body {
        font-size: 20px;
        line-height: 1.65em;
      html,
      body,
      #map {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        max-height: 700px !important;
      }
      #map-panel-body {
        height: 88%;
        padding: 0px !important;
        position: relative;
      }
      #map-panel-heading {
        .header-footer-percent {
          height: 6%;
        }
      }
      #map-panel-heading {
        position: relative;
      }
      #map-panel-footing {
        height: 6%;
        width: 100%;
        /* position: relative; */
        display: flex;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Pipeline Profile Section</h1>
          <p class="small">Updated November 2021</p>
        </div>
      </div>
      <div class="div.col-md-9.col-sm-12"></div>
      <section class = "panel panel-default" id="map-panel" dbHeight = 700>
        <header class="panel-heading">
          <h5 class="panel-title" id="leaflet-map-title">
            Line 9 Interactive Map
          </h5>
        </header>
        <div id="map"style="height: 678px; position: relative;" tabindex="0">
          <script>
          // Initialize map
            var map = L.map("map", { center: [44, -78], zoom: 6 });

            // add basemap
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}", {
            foo: "bar",
            attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(map);

            // add aboriginal lands of Canada (NRCan) https://www.arcgis.com/home/item.html?id=8b9ff056f5144a788fc6d85f72c86c15
            var indigenousLands = L.esri.featureLayer({
              url: 'https://proxyinternet.nrcan.gc.ca/arcgis/rest/services/CLSS-SATC/CLSS_Administrative_Boundaries/MapServer/0'
            }).addTo(map);

            indigenousLands.setStyle({
            color: '#8c8c96'
            })

            // add crude oil pipelines from EIA
            var crudeOilPipelinesEIA = L.esri.featureLayer({
              url:'https://services7.arcgis.com/FGr1D95XCGALKXqM/ArcGIS/rest/services/CrudeOil_Pipelines_US_EIA/FeatureServer/0'
            }).addTo(map);

            crudeOilPipelinesEIA.setStyle({
            color: '#871455'
            })

            // add Line 9
            var pipelineSystemCER = L.esri.featureLayer({
              url:'https://services5.arcgis.com/vNzamREXvX2WcX6d/ArcGIS/rest/services/PIPELINE_PROFILE_LAYER_VIEW/FeatureServer/2'
            }).addTo(map);

            pipelineSystemCER.setStyle({
            color: '#FF821E'
            })

            // U.S. Mainline
          
            L.geoJSON(usMainline).addTo(map);



            // Create Pop Up
            indigenousLands.bindPopup(function (layer) {
            return L.Util.template('<b>{adminAreaNameEng}</b>', layer.feature.properties);
            });
            crudeOilPipelinesEIA.bindPopup(function (layer) {
            return L.Util.template('<b>{Pipename}, {Opername}</b>', layer.feature.properties);
            });
          </script>
        </div>
    </div>
    </section>
  </body>
</html>
